<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>Credit Card Fraud Detection</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <div class ="hdr">
  <a href="/">Home | </a>
  <a href="team"> Team </a>
  </div>
</head>
<body>
    <div class="login">
        <h2>About Our Application</h2>
        <h4> ................ Blah Blah ..............</h4>        

 </div>


</body>
</html>