<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>Credit Card Fraud Detection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <div class ="hdr">
  <a href="/">Home | </a>
  <a href="team"> Team </a>
  </div>
</head>
<body>
        <h2>About Our Application</h2>
        <div class="about"> <p>When there is a fraud and the bank loses the money, the user has to pay for all loss even at higher interest rates, fess and low benefits.Therefore, both the parties the users and banks are interested in reducing the illegal usage of the credit cards by detecting the fraud at early stage</p><br><p>The credit card organization are contacting the data scientists with regards to find a ultimate solution to end or reduce this problem by minimum.</p><br><p>In order to solve this problem, there is a need to build a model which captures the fraud transactions and give an alert to the users and organization too.</p></div><div>KNN Model - Below image show the relation between fraud trend by time. With increase in time we observe fraud also increases but it follow cyclical pattern.</div>
        <div>
        <img src="{{url_for('static', filename='css/fraud_trend.png')}}" class="center" />    
          </div>


</body>
</html>
