<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>Credit Card Fraud Detection</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <div class ="hdr">
  <a href="/">Home | </a>
  <a href="about"> About </a>
</div>
</head>
<body>
    <div class="login">
        <h2>Team Member List</h2>
        <h4> Arshie Fatima - 0755600</h4>        
        <h4> Abhinav Sharma - 0753621</h4>        
        <h4> Shubham Bhatnagar - 0754455</h4>        
        <h4> Nisha Murugesan - 0734516</h4>        

 </div>


</body>
</html>